<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264350061976-tsqp24rnknu5915rb7spu7gh13mce25m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264350061976-tsqp24rnknu5915rb7spu7gh13mce25m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>264350061976-vg2ud9s6hl22iv4h05rrsm69uv2lhv29.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzMu3vo4Y5Rp-JndyRlp0FfJWtGFwhy8w</string>
	<key>GCM_SENDER_ID</key>
	<string>264350061976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.afroma.app</string>
	<key>PROJECT_ID</key>
	<string>afroma-250</string>
	<key>STORAGE_BUCKET</key>
	<string>afroma-250.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264350061976:ios:25fefc797b797b42df07ed</string>
</dict>
</plist>